#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:

php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes
	session.name: "blatny.org"

nette:
	application:
		errorPresenter: Error
		mapping:
			*: greeny\Website\*Module\*Presenter

	session:
		expiration: 14 days


services:
	connection:
		class: LeanMapper\Connection( %database%, ... )
	- greeny\Website\Model\Mapper
	- LeanMapper\DefaultEntityFactory

	- greeny\Website\Model\ArticleRepository
	- greeny\Website\Model\UserRepository

	- greeny\Website\Security\Authenticator
	- greeny\Website\Security\Authorizator

	- greeny\Website\Routing\RouterFactory
	router: @greeny\Website\Routing\RouterFactory::createRouter(%debugMode%)
