<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title}Dashboard{/block} &middot; blatny.org</title>

	<link rel="stylesheet" href="{$basePath}/css/normalize.css">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<link rel="stylesheet" href="{$basePath}/css/font-awesome.css">
	{block head}{/block}
</head>

<body>
	<nav class="navbar">
		<div class="container">
			<div class="brand">
				<a n:href=":Public:Dashboard:default">blatny.org</a>
			</div>
			<ul class="nav">
				<li n:class="$presenter->isLinkCurrent(':Blog:Article:*') ? active">
					<a n:href=":Blog:Article:detail">Blog</a>

					<div class="navbar-panel">
						<div class="container">
							<ul class="panel-nav">
								{foreach $panelArticles as $panelArticle}
									<li n:class="$presenter->isLinkCurrent(':Blog:Article:detail', array('slug' => $panelArticle->slug)) ? active">
										<a n:href=":Blog:Article:detail, slug => $panelArticle->slug">{$panelArticle->title}</a>
									</li>
								{/foreach}
							</ul>
						</div>
					</div>
				</li>
				<li n:class="$presenter->isLinkCurrent(':Projects:Project:*') ? active">
					<a n:href=":Projects:Project:detail">Projects</a>

					<div class="navbar-panel">
						<div class="container">
							<ul class="panel-nav">
								{foreach $panelProjects as $panelProject}
									<li n:class="$presenter->isLinkCurrent(':Projects:Project:detail', array('slug' => $panelProject->slug)) ? active">
										<a n:href=":Projects:Project:detail, slug => $panelProject->slug">{$panelProject->name}</a>
									</li>
								{/foreach}
							</ul>
						</div>
					</div>
				</li>
			</ul>

			<ul class="nav nav-right">
				{if $user->loggedIn}
					<li n:class="$presenter->isLinkCurrent(':Public:User:detail', array('id' => $user->identity->nick)) ? 'active'">
						<a n:href=":Public:User:detail id => $user->identity->nick">
							<span class="icon-fixed-width icon-user"></span> {$user->identity->nick}
						</a>
					</li>
					<li><a n:href="logout!"><span class="icon-fixed-width icon-signout"></span> Logout</a></li>
				{else}
					<li n:class="$presenter->isLinkCurrent(':Public:User:login') ? 'active'">
						<a n:href="login!"><span class="icon-fixed-width icon-signin"></span> Login</a>
					</li>
					<li n:class="$presenter->isLinkCurrent(':Public:User:register') ? 'active'">
						<a n:href=":Public:User:register"><span class="icon-fixed-width icon-plus"></span> Register</a>
					</li>
				{/if}
			</ul>
		</div>
	</nav>


	<div class="container">
		<div n:if="count($flashes)" class="flashes">
			<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} fade in">
				<button class="close" data-dismiss="alert">&times;</button>
				{$flash->message}
			</div>
		</div>
		{include content}
	</div>

	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/bootstrap.min.js"></script>
	<script src="{$basePath}/js/common.js"></script>
	{block scripts}{/block}
</body>
</html>
{define paginator}
	<div class="text-center pagination">
		<ul>
			<li n:class="$paginator->isFirst() ? disabled"><a n:href="this page => $paginator->page-1">&laquo;</a></li>
			{var $dots = false;}
			{var $a = array()}
			{for $j = 1; $j <= 5; $j++}
				{? $a[] = (int) ($j * $paginator->getLastPage() / 5)}
			{/for}
			{for $i = $paginator->getFirstPage(); $i <= $paginator->getLastPage(); $i++}
				{if $paginator->getPage() == $i}
					<li class="active"><a n:href="this">{$i}</a></li>{? $dots = true}
				{elseif in_array($i, $a) || $paginator->getFirstPage() == $i || $paginator->getLastPage() == $i || abs($i - $paginator->getPage()) <= 3}
					<li><a n:href="this page => $i">{$i}</a></li>{? $dots = true}
				{elseif $dots == true}
					<li class="disabled"><a>...</a></li>{?$dots = false;}
				{/if}
			{/for}
			<li n:class="$paginator->isLast() ? disabled"><a n:href="this page => $paginator->page+1">&raquo;</a></li>
		</ul>
	</div>
{/define}
